@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500;600;700&display=swap");
/* @import "react-big-calendar/lib/sass/styles"; */
/* Path: src/App.css */
/*  */
* {
  margin: 0;
  padding: 0;
}
:root {
  margin: 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  color: #212529;
}
